# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Created by https://www.toptal.com/developers/gitignore/api/yarn,vue
# Edit at https://www.toptal.com/developers/gitignore?templates=yarn,vue

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

.yarn
.vscode/

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache
